<!DOCTYPE html>
<html>
<head>
    <title>Demo STP — Entregas Cóndor</title>
</head>
<body>
    <h1>Demo Sistema de Procesamiento de Transacciones</h1>

    <ul>
        <li><a href="{% url 'registrar_pedido' %}">Registrar Pedido</a></li>
        <li><a href="{% url 'confirmar_pago' %}">Confirmar Pago</a></li>
        <li><a href="{% url 'movimiento_inventario' %}">Movimiento de Inventario</a></li>
        <li><a href="{% url 'lista_pedidos' %}">Lista de Pedidos</a></li>
        <li><a href="{% url 'lista_productos' %}">Lista de Productos</a></li>
        <li><a href="{% url 'lista_clientes' %}">Lista de Clientes</a></li>
        <li><a href="{% url 'lista_proveedores' %}">Lista de Proveedores</a></li>
    </ul>

</body>
</html>
