<!DOCTYPE html>
<html>
<head>
    <title>Lista de Proveedores</title>
</head>
<body>
    <h1>Proveedores Registrados</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Contacto</th>
        </tr>

        {% for p in proveedores %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.telefono }}</td>
            <td>{{ p.contacto }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{% url 'home' %}">Volver al Home</a>
</body>
</html>
