<!DOCTYPE html>
<html>
<head>
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Clientes Registrados</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Dirección</th>
        </tr>

        {% for c in clientes %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.direccion }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{% url 'home' %}">Volver al Home</a>
</body>
</html>
