<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pedidos</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Total</th>
        </tr>

        {% for p in pedidos %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.id_cliente.nombre }}</td>
            <td>{{ p.fecha }}</td>
            <td>{{ p.estado }}</td>
            <td>{{ p.total }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{% url 'home' %}">Volver al Home</a>
</body>
</html>
